.linechart{
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}